{% extends "layout.html" %}

{% block body %}
<style>
    .size, .cell {
        width: 200px;
    }
    .lighter {
        background-color: #193f4f;
    }

    .awful {
        color: #869fb4;
    }
    .meh {
        color: #99896d;
    }
    .good {
        color: #f9a11b;
    }
    .amazing {
        color: #f26522;
    }
</style>
<div class="container">
    Sort

    <form class="form" action="/users/{{username}}/rated" id="sort_rating">
        <div class="field">
            <div class="control">
                <div class="select">
                    <select name="list" onchange="sort_rating.submit()">
                        <option value="">All ratings</option>
                        <option value="amazing">Amazing</option>
                        <option value="good">Good</option>
                        <option value="meh">Meh</option>
                        <option value="awful">Awful</option>
                    </select>
                    <script>
                        const xd = document.querySelector('option[value="{{sort}}"]')
                        xd.setAttribute('selected',"")
                    </script>
                </div>
            </div>
        </div>
    </form>

</div>
<section class="section">
    <div class="container">
        <div class="block">
            <!-- <span>@{{session['username']}}</span> -->
        </div>
        <div class="grid is-col-min-8 is-column-gap-1">
            {% for movie in movies %}
            <div class="cell">
                <a href="/movies/{{movie['id']}}">
                    <div class="size">
                        <figure class="image fig_card">
                            <img class="img_card" src="{{movie['poster_path']}}" alt="">
                        </figure>
                    </div>
                </a>
                {{movie["title"]}}
                <br>
                {% for n in range(4) %}
                {% if n < movie['rating'] %}
                    <span class="icon is-small {{movie['rating_text']}}">
                        <i class="fas fa-star"></i>
                    </span>
                {% else %}
                    <span class="icon is-small">
                        <i class="far fa-star"></i>
                    </span>
                {% endif %}
            {% endfor %}
            </div>
            {% endfor %}
            </div>
    </div>
</section>
{% endblock %}