<style>
    .lighter {
        background-color: #193f4f;
    }

    .awful {
        color: #869fb4;
    }
    .meh {
        color: #99896d;
    }
    .good {
        color: #f9a11b;
    }
    .amazing {
        color: #f26522;
    }
    .link:link, .link:visited, .link:active {
        color: inherit;
    }
</style>
<div class="column is-narrow">
<div class="box lighter is-shadowless">

    <article class="media">
        <figure class="media-left">
            <a href="/users/{{rating['username']}}">
                <p class="image is-64x64">
                    <img loading="lazy" class="is-rounded" src="https://robohash.org/{{rating['username']}}" alt="user image profile" style="box-shadow: 0 0 0 2px #14161a;">
                </p>
            </a>
        </figure>
        <div class="media-content">
            <div class="content" data-theme="dark">
                <p>
                    <a class="link has-text-weight-bold has-text-white" href="/users/{{rating['username']}}">@{{rating['username']}}</a>
                    <br>
                    {% for n in range(4) %}
                        {% if n < rating['rating'] %}
                            <span class="icon is-small {{rating['rating_text']}}">
                                <i class="fas fa-star"></i>
                            </span>
                        {% else %}
                            <span class="icon is-small">
                                <i class="far fa-star"></i>
                            </span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </article>
</div>
</div>