{% extends "layout.html" %}

{% block body %}
<style>
    .size, .cell {
        width: 200px;
    }
</style>
<section class="section">
    <div class="container">
        <div class="block">
            <!-- <span>@{{session['username']}}</span> -->
        </div>
        <div class="grid is-col-min-8 is-column-gap-1">
            {% if watchlist %}
            {% for movie in watchlist %}
            <div class="cell">
                <a href="/movies/{{movie['id']}}">
                    <div class="size">
                        <figure class="image">
                            <img src="{{movie['poster_path']}}" alt="">
                        </figure>
                    </div>
                </a>
                {{movie["title"]}}
            </div>
            {% endfor %}
            {% endif %}
            </div>
    </div>
</section>
{% endblock %}